body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: #222222;
    left: 0;
    top: 0;
    right: 0;
}

.backgroundOpacity{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #00000033;
    left: 0;
    top: 0;
    right: 0;
    display: none;
}

#blockScreen{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: #00000099;
    left: 0;
    top: 0;
    right: 0;
}

.esconder{
    display: none!important;
}

#popupScreen{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
}

.alertDiv{
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    background-color: #222222;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

#alertMsg{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 105px;
}

.container{
    width: 100%;
    height: 92%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
}

#loginContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#loginContainer>img{
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    background-color: #FFFFFF80;
    padding: 10px;
}

.loginInfo{
    height: 20%;
    display: flex;
}

.loginInfo>div{
    text-align: justify;
    background-color: #ff5214da;
    padding: 20px 10px 20px 10px;
    border: 2px solid black;
    margin: auto;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 20px;
}

.loginCampos{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginCampos>input{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #ff5214da;
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    outline: none;
}

.loginCampos>button{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    background-color: #ff5214da;
    margin-bottom: 40px;
    color: #222222;
}

.loginCampos>button:disabled{
    background-color: transparent;
    border: 2px solid gray;
    color: gray;
}

.loginCampos>span{
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;
}

.loginCampos>input::placeholder{
    color: white;
}

#mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.headerContent{
    width: 100%;
    min-height: 60px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
}

.headerButton{
    color: white;
    border: 0;
    width: 100%;
    background-color: transparent;
    
    padding: 0px 10px;
}

.selectedHeader{
    color: #ff5214da;
    border-bottom: 2px solid #ff5214da;
}

.headerButton>i{
    font-size: 25px;
    margin-bottom: 5px;
}

#bodySearchContainer{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

#bodyMyListsContainer{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.searchDiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.searchBorder{
    
    display: flex;
    align-items: stretch;
    
}

#inputSearch{
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    margin: 5px;
    width: 70%;
    height: 38px;
    font-size: 16px;
    color: white;
    outline: none;
}

#search-button{
    border-radius: 10px;
    height: 35px;
    margin: auto 0px;
    border: 2px solid white;
    background-color: black;
    color: white;
}
#search-button:active{
    background-color: #ff5214;
}

#resultList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#resultList>span{
    color: white;
    margin-top: 20px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resultListItem{
    padding: 2px;
    background-color: #111111BB;
    width: 98%;
    min-height: 70px;
    border: 1px solid #ff5214;
    margin-top: 4px;
    border-radius: 5px;
    display: flex;
}

.resultListItem>img{
    width: 50px;
    height: 100%;
}

.resultListItem>div{
    width: 50px;
    height: 100%;
    background-color: white;
}

.resultListItem>span{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
}

.footerContent{
    z-index: 2;
    width: 99%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff5214da;
    border: 1px solid orangered;
    display: flex;
    margin: auto;
    justify-content: center;
}

.footerContent>span{
    color: #222222;
    text-shadow: 0px 0px 5px gray;
    right: 0;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}